netCDF4
h5py
pyzmq
pykdtree
-e git+https://github.com/Supervisor/supervisor.git@master#egg=supervisor
Pillow
netifaces
python-dateutil
pytz
requests
tomputils>=1.12.16
pyresample
pytroll-schedule
posttroll
pytroll-collectors
satpy


